body {
    background-color: ghostwhite;
}

#computer_title {
    font-size: 40px;
}


.middle_title {
    display: flex;
    justify-content: center;
}

.middle_img {
    height: 250px;
    width: 150px;
}

.img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.info_text{
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.size_info {
    height: 400px;
    width: 300px;
}

.size {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 20px;
}